/*******************MAIN-CSS*******************/
body{
  font-family: Arial,Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*******************GLOBAL-CLASS*******************/
.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

/*******************LINKS*******************/
ul{
  margin:0;
  padding: 0;
}

/*******************BUTTONS*******************/
.button1{
  height: 38px;
  background: #e8491d;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  text-decoration: none;
}

img.button{
  width: 300px;
  height: 300px;
  padding-top: 25px;
  padding-left: 545px;
}

.dark{
  padding: 15px;
  background: #35424a;
  color:#ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*******************DIFFERENT_TYPES_OF_ROBOTS-CSS*******************/
.consumertext{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.image1{
  width: 300px;
  height: 300px;
  padding-left: 210px;
  margin: 5px;
}

.h3{
  text-align: center;
}

a.button:active{
  border: 2px inset #ffffff;
}

#drone-illustration{
  height: 600px;
  width: 800px;
  padding-left: 250px;
}
/*******************HEADER*******************/
header{
  background:#35424a;
  color: #ffffff;
  padding-top: 15px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

header li{
  float: left;
  display: inline;
  padding:0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding{
  margin:0;
}

header nav{
  float: right;
  margin-top: 30px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*******************DROPDOWN_MENU-CSS*******************/

.navbar {
  overflow: hidden;
  background-color: #35424a;
  font-family: Arial;
  margin-top: 20px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #e8491d;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*******************SHOWCASE*******************/
#showcase{
  min-height:400px;
  background:url('showcase2.jpg') no-repeat 0px -365px;
  text-align: center;
  color: #ffffff;
}

#showcase  h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

.showcasetitle{
  color: #35424a;
}

#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

#centersections {
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
}

.robotstitle{
  text-align: center;
  margin: auto;
  transition: all 0.4s;
}

.robotstitle:hover{
  color: #35424a;
}

.robotsection{
  font-size: 30px;
  padding: 15px;
  background: #35424a;
  margin-top: 20px;
}

.robotsurl{
  text-decoration: none;
  color: #ffffff;
}

/*******************BOXES*******************/

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

#boxes .box img{
  width: 300px;
}

/*******************SIDEBAR*******************/

aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}

/*******************MAIN-COL*******************/
article#main-col{
  float: left;
  width: 65%;
}

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

#footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
  width: 139.44%;
  margin-left: -22%;
}

.contactslink{
  text-decoration: none;
  color: white;
}

/*******************ROBOT_HISTORY-CSS*******************/
.headlinesection{
  font-size: 25px;
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  text-align: center;
}

.parallax{
  background-image: url("firstrobot.jpg");

  min-height: 800px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.erictherobot{
  background-image: url("britainsfirstrobot.jpg");

  min-height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teslasboat{
  background-image: url("teslasboat.jpg");

  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.directdrivearm{
  background-image: url("firstdirectdrivearm.jpg");

  min-height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cyberknife{
  background-image: url("cyberknife.jpg");

  min-height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modernrobot{
  background-image: url("modernrobots.jpg");

  min-height: 700px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#history{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

#britainsfirstrobot{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

#teslasboattext{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

#directdrivearmtext{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

#cyberknifetext{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

#modernrobottext{
  color: #777;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

/*******************SUBSCRIBEPAGE-CSS*******************/
#subscribe{
  font-size: 30px;
  padding: 15px;
  background: #35424a;
  margin-top: 20px;
  color: white;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

/*******************CONTACTS-CSS*******************/
#contactsheader{
  text-align: center;
}

/*******************ANIMATIONS-CSS*******************/
.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
